<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Manager</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="../assets/img/icons/R.png">
  </head>
  <body>
    <h1 class="centered-title">Restaurant Manager</h1>

    <div class="container">
      <p>Welcome to the Restaurant Manager. This tool allows you to efficiently manage and search for restaurants.</p>
      
      <p>Use the following options:</p>
      
      <ul>
      <li>
        <a href="/restaurants">View all restaurants</a> - Access the complete list of registered restaurants.
      </li>
      <li>
        <a href="/addRestaurant">Add a restaurant</a> - Add a new restaurant to the database.
      </li>
      <li>
        <a href="/restaurants">Search for restaurants</a> - Perform customized searches to find restaurants according to your preferences.
      </li>
    </ul>
  </div>
</body>
</html>